@import-normalize;

body {
  margin: 0;
  font-family: 'Almarai', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #313131;
}
* {
  box-sizing: border-box;
}
